channels==4.3.2
channels_redis==4.3.0
daphne==4.2.2
Django==6.0.4
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
google-auth==2.49.2
pillow==12.2.0
psycopg2-binary==2.9.11
python-decouple==3.8
redis==7.4.1
requests==2.34.2